In [12]:
import pandas as pd
from config import key
import requests
from census import Census
from us import states
from config import (key)

c = Census(key, year=2010)

In [13]:
csa_data = pd.read_csv('./Data Files/Population Lookup Data.csv')
csa_data = csa_data.loc[csa_data['CSA'] > 0]
csa_data = csa_data.astype({'CSA':int})
csa_data.index = range(len(csa_data))

In [14]:
populations = []
counter = 0
pop = []

for team in csa_data.iterrows():
    if counter == len(csa_data):
        break
    target = getattr(states, csa_data["States"][counter]).fips
    census_data = c.sf1.state_csa(('P001001','NAME'), target, csa_data['CSA'][counter])
    populations.append(census_data)
    counter = counter + 1

In [15]:
counter = 0
pop = []
for team in populations:
    if counter == len(populations):
        break
    pop.append(populations[counter][0]['P001001'])
    counter = counter + 1

In [16]:
counter = 0
team = []
for code in csa_data.iterrows():
    if counter == len(csa_data):
        break
    team.append(csa_data['Team Code'][counter])
    counter = counter + 1

In [17]:
pop = list(map(int, pop))

In [18]:
team_pop = {'team':team,'pop':pop}

In [19]:
team_pop_df = pd.DataFrame(team_pop)

In [22]:
team_pop_df = team_pop_df.groupby('team')
team_pop_df = team_pop_df.sum()
team_pop_df.head()

          pop
team
ATL   5584216
BAL   5119510
BOS   5480873
CHC   9686021
CHW   9686021

In [21]:
team_pop_df.to_csv('./Data Files/2010 CSA Population by Team.csv')