In [13]:
import pandas as pd
from config import key
import requests
from census import Census
from us import states
from config import (key)

c = Census(key, year=2010)

In [14]:
csa_data = pd.read_csv('./Data Files/Population Lookup Data.csv')
csa_data = csa_data.loc[csa_data['CSA'] > 0]
csa_data = csa_data.astype({'CSA':int})
csa_data.index = range(len(csa_data))

In [15]:
populations = []
counter = 0
pop = []

for team in csa_data.iterrows():
    if counter == len(csa_data):
        break
    target = getattr(states, csa_data["States"][counter]).fips
    census_data = c.sf1.state_csa(('P001001','NAME'), target, csa_data['CSA'][counter])
    populations.append(census_data)
    counter = counter + 1

In [16]:
counter = 0
pop = []
for team in populations:
    if counter == len(populations):
        break
    pop.append(populations[counter][0]['P001001'])
    counter = counter + 1

In [17]:
counter = 0
team = []
for code in csa_data.iterrows():
    if counter == len(csa_data):
        break
    team.append(csa_data['Team Code'][counter])
    counter = counter + 1

In [18]:
pop = list(map(int, pop))

In [19]:
team_pop = {'team':team,'pop':pop}

In [20]:
team_pop_df = pd.DataFrame(team_pop)

In [21]:
team_pop_df = team_pop_df.groupby('team')
team_pop_df = team_pop_df.sum()
team_pop_df

           pop
team
ATL    5584216
BAL    8495509
BOS    5480873
CHC    9686021
CHW    9686021
CIN    2172191
CLE    2881937
COL    3090874
DET    5218852
HOU    6051363
KCR    2104853
LAA   17877006
LAD   17877006
MIL    1751316
MIN    3615902
NYM   22085649
NYY   22085649
OAK    7468390
PHI    6533683
PIT    2447393
SEA    4199312
SFG    7468390
STL    2878255
TEX    6731317
WSH    8495509

In [22]:
team_pop_df.to_csv('./Data Files/2010 CSA Population by Team.csv')